---
---

@import "testimonials";
@import "style";
@import "top-navigation-menu";
@import "swipe-subject-lines";
@import "quotes";
@import "rfps";

/* Default General Styles */
body {
	font-family: "clone-rounded-latin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 21px;
	line-height: 1.6;
	color: #444;
	font-weight: 400;
}

a {
	color: #222;
}

a:hover {
	color: #7E7E7E;
}

strong {
	font-family: "macho", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6  {
	font-weight: 700;	
	font-family: "macho", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
	font-size: 33px;
	margin: 1em 0 0;
	line-height: 41px;
	color: #333;
}

h2 {
	text-transform: uppercase;
  -moz-font-feature-settings: 'case=1';
  -moz-font-feature-settings: 'case' 1;
  -webkit-font-feature-settings: 'case' 1;
  -o-font-feature-settings: 'case' 1;
  -ms-font-feature-settings: 'case' 1;
  font-feature-settings: 'case' 1;
  letter-spacing: 1px;
	font-size: 18px;
	margin: 4em 0 0;
	line-height: 1.5;
	margin: 2em 0 0em; 
	color: #e86012;
}


h2 + p, h1 + p {
	margin-top: .5em;
}


/* Information Architecture / Navigation */
.top-menu {
	text-align: right;
	padding: .5em 1em 0 0;
  font-size: 60%;
}

.top-menu a {
	margin: 0 .5em;
	text-decoration: none;
}

.top-menu a.relaunch {
	background-color: #fff8e2;
	color: #444;
	padding: .25em .5em;
	text-decoration: none;
	position: relative;
  border-radius: 10px;
}


.top-menu a.new-message {
	color: #666;
	text-decoration: none;
	font-family: "macho", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0 1em;
}

.top-menu a.new-message span {
	font-size: 60%;
	font-family: "macho", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: #ea221c;
	color: #FFF;
	padding: 0px 3px;
	border-radius: 2px;
	display: inline-block;
	vertical-align: 5px;
	text-align: center;
}



/* Typography */
.uppercase {
	font-family: "macho", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-transform: uppercase;
  -moz-font-feature-settings: 'case=1';
  -moz-font-feature-settings: 'case' 1;
  -webkit-font-feature-settings: 'case' 1;
  -o-font-feature-settings: 'case' 1;
  -ms-font-feature-settings: 'case' 1;
  font-feature-settings: 'case' 1;
  letter-spacing: 2px;
}



.two-column {
	-webkit-column-count: 2; 
	-moz-column-count: 2; 
	column-count: 2;
	font-size: 85%;
}


/* Content */
.wrap {
	max-width: 600px;
	margin: 0 auto;
}

.reading {
	max-width: 700px;
}

.comfortable {
	max-width: 700px;
}

.opt-in {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	padding: 0 1em;
	// background-color: red;
	grid-gap: 3rem;
}

ol li {
	margin: .5em 0;
}

ol {
	margin: 0;
	padding: 0;
}


/* UI */

.price-callout {
	display: inline-block;
	font-family: "macho", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-transform: uppercase;
  -moz-font-feature-settings: 'case=1';
  -moz-font-feature-settings: 'case' 1;
  -webkit-font-feature-settings: 'case' 1;
  -o-font-feature-settings: 'case' 1;
  -ms-font-feature-settings: 'case' 1;
  font-feature-settings: 'case' 1;
	text-decoration: none;
	padding: .15em .35em 0;
	font-size: 14px;
	background-color: #eee;
	border-radius: 6px;
	letter-spacing: 2px;
}

input[type=submit], a.button {
	display: inline-block;
	font-size: 25px;
	font-family: "macho", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
	text-transform: uppercase;
  -moz-font-feature-settings: 'case=1';
  -moz-font-feature-settings: 'case' 1;
  -webkit-font-feature-settings: 'case' 1;
  -o-font-feature-settings: 'case' 1;
  -ms-font-feature-settings: 'case' 1;
  font-feature-settings: 'case' 1;
  letter-spacing: .1em;
  border-radius: .5em;
	margin: 1em auto;
  padding: .65em 1.5em .65em;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	background-color: #160f65;
	cursor: pointer;
	outline: none;
	border: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
	line-height: 1.2;
	&:hover {
		background-color: #3026aa;
	}
}

a.button small {
	font-size: 17px;
	color:#c8c3ff;
	font-weight: 400;
	font-family: "clone-rounded-latin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a.button.small {
  -moz-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  -webkit-font-feature-settings: normal;
  -o-font-feature-settings: normal;
  -ms-font-feature-settings: normal;
  font-feature-settings: normal;
	background-color: #160f65;
	color: #FFF;
	text-transform: uppercase;
	padding: .5em 1em .65em 1em;
	border-radius: .65em;
	font-size: 13px;
	display: inline-block;
	font-weight: 700;
	letter-spacing: .125em;
	font-family: "macho", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a.button.small:hover {
	background-color: #3026aa;
}


a.button.small img {
	margin: 0 .45em 0 -.25em;
	vertical-align: -.125em;
}

a.button.small.grey {
	background-color: #BCC5E0;
}

a.button.small.grey:hover {
	background-color: #d6e0ff;
}


a.button.upgrade {
	background-color: #60b231 !important;
	box-shadow: 0px 2px 0px #328a00 !important;
}


a.button.hide {
  background-color: #aaa;
	box-shadow: 0px 2px 0px #777;
}

a.button.award {
  background-color: #67bd33;
	box-shadow: 0px 2px 0px #3f8515;
}

a.sign-up {
	border: 2px solid ;
}

a.price-package {
	border: 3px solid #f0dc97;
	padding: .75em 1em 1em;
	display: block;
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
	font-size: 40px;
	margin: 2em 0 .5em;
	font-family: "macho", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-align:center;
	background-color: #fffcd8;
	line-height: 1;
}
a.price-package small {
	margin:0 ;
	line-height: 0;
	font-size: 22px;
	color: #62562e;
}

a.price-package span {
	display: block;
	margin: 2em 0 0;
	font-size: 25px;
	color: #62562e;
}


input[type="text"], input[type="password"], input[type="name"], input[type="url"],   input[type="email"], input[type="rss"], input[type="number"], select, textarea, input[type=file]  {
	font: 17px/1.4em "macho", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: white;
  border: 2px solid #ccc;
  display: block;
  padding: 4px 8px 5px;
  width: 100%;
	outline: none;
	margin: 1em 0;

	&:hover, &:active, &:focus {
		border: 2px solid #aaa;
	}
	&:focus {
		border: 2px solid #222;
	}

}

blockquote {
	font-size: 90%;
	margin: 1.5em 0 -.5em;
	padding: 1em;
	background-color: #f1f1f1;
	border-radius: 5px;
	p {
		margin: 0;
		+ p {
			margin: .5em 0 0;
		}
	}
}

hr {
    height: 1px;
    border: none;
    max-width: 58em;
    margin: 2em auto;
		background-color: #eee;
}

i {
	font-size: 70% !important;
	vertical-align: 6px;
}
/* Sales Page */

th {
	font-weight: normal;
}
th h1 + p {
	margin: 0;
}

table.pricing {
	margin: 1em 0 4em;
	box-shadow: 0 2px 20px #ccc;
	font-size: 75%;
	h1 {
		margin: .5em 0 0;
	}
	td {
		line-height: 1.5;
		padding: 1em 1.5em;
		border: 1px solid #f7f8f9;
	}
	.bonus {
		background-color: #f7f8f9;
	}
	.bonus p {
		font-weight: normal;
	}
	.check {
		text-align: center;
		color: #e66512;
	}
	.buy {
		text-decoration: none;
	}
}

table.features {
	td {
		padding: 0 0 4em;
		vertical-align: top;
	}
	h2 {
		margin: 0;
	}
}

td.big-stat-number {
	font-family: "macho", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 20px;
	line-height: 1.5;
	color: #222;
	text-align:center;
}

td.stat-caption {
	padding: 0 .5em;
	font-size: 17px; 
	color: #666;
	text-align:center;
}

.service {
	margin: 1em 0;
	box-shadow: 0 0 5px #EEE; 
	border:1px solid #ddd; 
	border-radius: 5px; 
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
}

.service p {
	font-size: 16px;
	margin: 1.5em 0 .25em;
	padding: 0 1em;
}

.service p + p {
	margin: 0;
}

.service p strong {
	font-size: 19px;
}

.service .image {
	display: block;
	width: 200px;
	float:left; 
	box-sizing: border-box;
	height: 250px;
	margin-right: 1.5em;
	border-right: 1px solid #DDD;
	background-color: #eee;
}

.service .image.monitoring {
	background-image: url("../images/monitoring.png");
	background-size: auto 160%;
}

.service .image.search {
	background-image: url("../images/search.png");
	background-size: auto 100%;
}

.service .image.inbound {
	background-image: url("../images/inbound.png");
	background-size: auto 100%;
}

.service .image.qualify {
	background-image: url("../images/qualify.png");
	background-size: auto 100%;
}


.service .image.outreach {
	background-image: url("../images/outreach.png");
	background-size: auto 100%;
}

.service .image.folyo {
	background-image: url("../images/folyo.png");
	background-size: auto 100%;
}

