---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


body {
	font-family: 'concourse_t3regular', Lucida Grande, sans-serif;
	font-size: 21px;
	line-height: 1.40;
	color: #222;
	
	em {
		font-family: 'concourse_t3italic', Lucida Grande, sans-serif;
		font-style: normal;
	}
	
	strong {
		font-family: 'concourse_t4regular', Lucida Grande, sans-serif;
		font-weight: normal;
	}
	
	blockquote {
		font-family: 'concourse_t3regular', Lucida Grande, sans-serif;
		font-weight: normal;
		cite {
			font-family: 'concourse_c4regular', Lucida Grande, sans-serif;
			font-weight: normal;
			font-style: normal !important;
			text-transform: lowercase;
			line-height: 3;
		}
	}
	
	
	a {
		color: #222;
	  -webkit-transition: all 0.2s ease;
	  -moz-transition: all 0.2s ease;
	  -ms-transition: all 0.2s ease;
	  transition: all 0.2s ease;
		i {
			color: #e66125;
			font-size: 10px !important;
			vertical-align: 5px;
		}
		&:hover {
			color: #e66125;
		}
	}
	
	hr {
		margin: 2em 0;
		border: 0;
		height: 1px;
		outline: 0;
		background-color: #DDD;
	}

	.wrapper {
		max-width: 37em;
		margin: 0 auto;
	}

	.logo {
		text-align: center;
		margin: 2em 0 1em;
		
		header {
			-webkit-transform: rotate(-4deg);
			-moz-transform: rotate(-4deg);
			-ms-transform: rotate(-4deg);
			-o-transform: rotate(-4deg);
			
			a {
				font-size: 80px;
				font-weight: 400;
				text-decoration: none;
				font-family: Cortado-Web, 'concourse_t3regular', Lucida Grande, sans-serif;
				-webkit-font-feature-settings: "liga" 1, "calt" 1, "frac" 1;
				-moz-font-feature-settings: "liga=1", "calt=1", "frac=1";
				-moz-font-feature-settings: "liga" 1, "calt" 1, "frac" 1;
				-ms-font-feature-settings: "liga" 1, "calt" 1, "frac" 1;
				-o-font-feature-settings: "liga" 1, "calt" 1, "frac" 1;
				font-feature-settings: "liga" 1, "calt" 1, "frac" 1;

			}
		}
	}

	h1, h2, h3, h4, h5 {
		font-weight: normal;
	}

	h1 {
		font-family: 'concourse_c3bold';
		font-size: 20px;
		text-align: center;
	}
	h2 {
		font-family: 'concourse_c4bold', Lucida Grande, sans-serif;
		font-weight: normal;
		text-transform: lowercase;
		font-size: 26px;
		line-height: 1.3;
	}
	h3 {
		font-family: 'concourse_c3bold';
		font-size: 20px;
	}

	a.tooltip i {
		font-size: 19px !important;
		color: #222;
	}
	a.tooltip span {
	    display: none;
	    margin-left:-15em;
			margin-top: -3em;
	    width:500px;
			text-align: center;
			z-index: 5;
			line-height:8px;
			
	}
	a.tooltip:hover span {
	    display:inline;
	    position:absolute;
			background-color: #222;
	    color:#fff;
			border-radius: 5px;
	    padding: 12px 10px;
			box-shadow: 1px 0px 5px #ccc;
	}


	table.pricing {
		margin: 2em 0;
		box-shadow: 0 2px 20px #ccc;
		
		td {
			line-height: 1.5;
			padding: 1em 1.5em;
			border: 1px solid #f7f8f9;
		}
		.bonus {
			background-color: #f7f8f9;
			font-weight: bold;
		}
		.bonus p {
			font-weight: normal;
		}
		.check {
			text-align: center;
			color: #e66512;
		}
		.buy {
			font-family: 'concourse_c4bold', Lucida Grande, sans-serif;
			text-transform: lowercase;
			text-decoration: none;
		}
	}
	
	input[type=submit], .button {
		font-size: 16px;
		font-family: 'concourse_c4regular', Lucida Grande, sans-serif;
		text-transform: lowercase; 
	  border-radius: 8px;
	  padding: 7px 16px 8px 16px;
		text-align: center;
		color:#666;
		text-decoration: none;
		margin-top: -3.5em;
		background-color: #eee;
		cursor: pointer;
		outline: none;
		border: none;
	  -webkit-transition: all 0.2s ease;
	  -moz-transition: all 0.2s ease;
	  -ms-transition: all 0.2s ease;
	  transition: all 0.2s ease;
		&:hover {
			background-color: #e66125; 
			color: white;
		}
	}
	
	input[type="text"], input[type="password"], input[type="name"], input[type="url"],   input[type="email"], input[type="rss"], input[type="number"], select, textarea, input[type=file]  {
		font: 17px/1.4em 'concourse_t3regular';
	 	-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  -o-border-radius: 5px;
	  border-radius: 5px;
	  -webkit-transition: all 0.2s ease;
	  -moz-transition: all 0.2s ease;
	  -ms-transition: all 0.2s ease;
	  transition: all 0.2s ease;
	  background-color: white;
	  border: 2px solid #ccc;
	  display: block;
	  padding: 4px 8px 5px;
	  width: 100%;
		outline: none;
		margin: 1em 0;

		&:hover, &:active, &:focus {
			border: 2px solid #aaa;
		}
		&:focus {
			border: 2px solid #222;
		}

	}

}



@font-face {
    font-family: 'concourse_t3bold_italic';
    src: url('/fonts/concourse_t3_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'concourse_c3bold';
    src: url('/fonts/concourse_c3_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'concourse_t3bold';
    src: url('/fonts/concourse_t3_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'concourse_c7regular';
    src: url('/fonts/concourse_c7_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'concourse_t7italic';
    src: url('/fonts/concourse_t7_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'concourse_t6italic';
    src: url('/fonts/concourse_t6_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'concourse_t7regular';
    src: url('/fonts/concourse_t7_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'concourse_c6regular';
    src: url('/fonts/concourse_c6_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'concourse_t6regular';
    src: url('/fonts/concourse_t6_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'concourse_c3regular';
    src: url('/fonts/concourse_c3_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'concourse_t3italic';
    src: url('/fonts/concourse_t3_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'concourse_t3regular';
    src: url('/fonts/concourse_t3_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'concourse_c2bold';
    src: url('/fonts/concourse_c2_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_c2regular';
    src: url('/fonts/concourse_c2_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_c4bold';
    src: url('/fonts/concourse_c4_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_c4regular';
    src: url('/fonts/concourse_c4_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_c8regular';
    src: url('/fonts/concourse_c8_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_t2bold_italic';
    src: url('/fonts/concourse_t2_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_t2bold';
    src: url('/fonts/concourse_t2_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_t2italic';
    src: url('/fonts/concourse_t2_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_t2regular';
    src: url('/fonts/concourse_t2_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_t4bold_italic';
    src: url('/fonts/concourse_t4_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_t4bold';
    src: url('/fonts/concourse_t4_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_t4italic';
    src: url('/fonts/concourse_t4_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'concourse_t4regular';
    src: url('/fonts/concourse_t4_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_t8italic';
    src: url('/fonts/concourse_t8_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'concourse_t8regular';
    src: url('/fonts/concourse_t8_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: Cortado-Web;
	src: url('/fonts/CortadoScript.eot');
	src: url('/fonts/CortadoScript.eot?#iefix') format('embedded-opentype'),
	url('/fonts/CortadoScript.woff') format('woff');
}
