<form class="drip-opt-in free-course-signup"  action="https://www.getdrip.com/forms/6960242/submissions" method="post" data-drip-embedded-form="6960242" style="margin:0; padding: 0;">	
	<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: .5rem;">
		<div>
			<input class="name" type="text" name="fields[first_name]" value="" placeholder="First name" style="margin:0;"/>
		</div>
		
		<div>
			<input class="email" type="email" name="fields[email]" value=""  placeholder="Your email" style="margin:0;"/>
		</div>
		
		<div>
			<input class="button" style="font-size: 80%; margin: 0;" type="submit" name="submit" value="Download now" data-drip-attribute="sign-up-button" />
		</div>
	</div>
</form>