<form class="drip-opt-in free-course-signup"  action="https://www.getdrip.com/forms/6960242/submissions" method="post" data-drip-embedded-form="6960242" class="course-form">
	<h2>Where should I send your lessons?</h2>
	
	<input class="name" type="text" name="fields[first_name]" value="" placeholder="First name" />

	<input class="email" type="email" name="fields[email]" value=""  placeholder="Your email" />

	<input class="button" type="submit" name="submit" value="Download now" data-drip-attribute="sign-up-button" />
</form>