<form  class="drip-opt-in free-course-signup"  action="https://www.getdrip.com/forms/6960242/submissions" method="post" data-drip-embedded-form="6960242"  style="width: 100%;">
<input type="text" name="fields[first_name]" value="" placeholder="First name" style="display: inline-block; width: 130px; margin-right: .5em;">
<input type="email" name="fields[email]" value=""  placeholder="Your email"  style="display: inline-block; width: 250px;"/>
<input type="submit" name="submit" value="Send me the first lesson" data-drip-attribute="sign-up-button" style="display: inline-block;" />
</form>