<form action="https://www.getdrip.com/forms/287921483/submissions" method="post" data-drip-embedded-form="287921483" class="w-full">
	<div class="w-full">
		<input type="text" id="drip-first-name" name="fields[first_name]" placeholder="Enter your name..." value="" class="appearance-none focus:appearance-none block w-full text-grey-darkest py-2 px-3 border-2 rounded-lg text-sm md:text-xl bg-white" />
	</div>

  <div class="w-full my-2">
  	<input type="email" id="drip-email" name="fields[email]" value="" placeholder="Enter your email address..." class="appearance-none focus:appearance-none block w-full text-grey-darkest py-2 px-3 border-2 rounded-lg text-sm md:text-xl  bg-white" />
  </div>

	<div class="w-full">
  	<input class="font-semibold rounded-full bg-blue text-white text-xl px-6 py-4 inline-block cursor-pointer w-full hover:bg-blue-dark" type="submit" name="submit" value="Register free" data-drip-attribute="sign-up-button" />
	</div>
	
	<p class="text-base text-grey-dark mt-2">Note: We periodically close registration to ensure quality.</p>
</form>