# Do you know where to find high-paying clients?

A steady pipeline is the lifeblood of a consulting business. It doesn't matter if you're a software developer, website designer, or birthday cake baker - if you don't have a steady flow of new business your business won't be sustainable.

Of course, it's not enough to just find these opportunities. You also have to close and qualify them. That means you need sales skills too. You can't just rely on your work to do the selling for you. You have to actively set things in motion on the right opportunities.  

## Client work doesn't have to be feast or famine.
