<style>
.homepage-explainer {
	display: grid;
	/*background-color: #f3d6ee;*/
	grid-template-columns: 540px 480px;
	grid-template-rows: 385px;
	width:100%;
	max-width: 1020px;
	margin: 2em auto 1em;
}
.homepage-explainer .screenshot {
	/*background-color: #9bf391;*/
}
.homepage-explainer .description {
	/*background-color: #f3eb93;*/
	padding: 1.5em 2em;
}
.homepage-explainer .description a.button {
	background-color: #D9D7D1; 
	color: #635E52; 
	box-shadow: 0 4px 0 #BAB6AB; 
	font-size: 18px; 
	text-transform: none; 
	letter-spacing: 0; 
	margin: 1.25em 0 1em;
}
.homepage-explainer .description a.button:hover {
	background-color: #ebe8e0;
	box-shadow: 0 4px 0 #D9D7D1;
}
@media only screen and (max-width: 1020px) {
} 
</style>

<div class="homepage-explainer">
	<div class="screenshot">
		<img src="./images/screenshot-workshop-email.png" style="max-width:100%;">
	</div>
	<div class="description">
		<h1 style="margin: 0; font-weight:700;"><img src="./images/workshop-logo.png" style="vertical-align: -18px; max-width: 60px;"> Workshop</h1>
		<h2 style="margin: 0;">The daily email every freelancer needs.</h2>
		<p style="font-size: 17px;">Workshop members get a daily hand-curated list of active, high-value freelance opportunities delivered to their inbox. Pairs great with a cup of coffee. Apply in minutes today.</p>
		<a href="https://robertwilliams.typeform.com/to/v12Y5m" class="button">Apply for Membership</a>
		<p style="color: #A2A2A2; font-size: 15px; margin: 0;">Starting at $79 per month. Paid twice a year.</p>
	</div>
</div>

