<footer class="text-grey mx-auto block max-w-md py-4 mb-8 text-md text-center border-t-2">
	<p><span class="mx-1">&copy;</span>2018, Robert Williams 
		
		<span class="mx-1">•</span>
				
		<a class="text-grey mx-1 no-underline hover:text-grey-dark" href="/leads">Leads</a>
		
		<span class="mx-1">•</span>
				
		<a class="text-grey mx-1 no-underline hover:text-grey-dark" href="/letters">Newsletter</a>
				
		<span class="mx-1">•</span> 
		
		<a class="text-grey mx-1 no-underline hover:text-grey-dark" href="http://twitter.com/clientgiantrob">Twitter</a> 
		
		<span class="mx-1">•</span> 
		
		<a class="text-grey mx-1 no-underline hover:text-grey-dark" href="MAILTO:robert@letsworkshop.com">Email</a></p>
</footer>
