
<div class="skill">
	<div class="header">
		<h2><span class="house" style="font-size: 105%; color:#e76025; margin-right:.25em;">Free!</span> Tailor your experience on this site: (check projects of interest)</h2>
	</div>
	
	  <div>
	    <input type="hidden" name="fields[promotions]" value="false" />
	    <input type="checkbox" name="fields[promotions]" value="true" /> UI / UX design
	  </div>
	
	  <div>
	    <input type="hidden" name="fields[marketing]" value="false" />
	    <input type="checkbox" name="fields[marketing]" value="true" /> Graphic design
	  </div>
	
	  <div>
	    <input type="hidden" name="fields[newsletter]" value="false" />
	    <input type="checkbox" name="fields[newsletter]" value="true" /> Marketing
	  </div>
		
	  <div>
	    <input type="hidden" name="fields[newsletter]" value="false" />
	    <input type="checkbox" name="fields[newsletter]" value="true" /> Mobile dev
	  </div>
		
	  <div>
	    <input type="hidden" name="fields[newsletter]" value="false" />
	    <input type="checkbox" name="fields[newsletter]" value="true" /> Javascript
	  </div>
		
	  <div>
	    <input type="hidden" name="fields[newsletter]" value="false" />
	    <input type="checkbox" name="fields[newsletter]" value="true" /> PHP
	  </div>
		
	  <div>
	    <input type="hidden" name="fields[newsletter]" value="false" />
	    <input type="checkbox" name="fields[newsletter]" value="true" /> Ruby / rails
	  </div>
		
	  <div>
	    <input type="hidden" name="fields[newsletter]" value="false" />
	    <input type="checkbox" name="fields[newsletter]" value="true" /> Python
	  </div>
	
</div>


<form action="https://www.getdrip.com/forms/32753267/submissions" method="post" data-drip-embedded-form="32753267">
	<div class="sample-offer">
		<div class="header">
			<div>
				<?xml version="1.0" encoding="UTF-8"?>
				<svg width="73px" height="54px" viewBox="0 0 73 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <title>Slice</title>
				    <desc>Created with Sketch.</desc>
				    <defs></defs>
				    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				        <g id="Group-9-Copy-2" transform="translate(35.277429, 27.824219) rotate(-4.000000) translate(-35.277429, -27.824219) translate(1.277429, 9.324219)">
				            <path d="M14.0214951,0.75 L54.9625306,0.75 L54.9625306,0.75 C62.1201409,0.75 67.9225306,6.55238964 67.9225306,13.71 C67.9225306,13.7575441 67.9222689,13.8050879 67.9217457,13.8526291 L67.8152521,23.5285902 L67.8152521,23.5285902 C67.7375284,30.5905286 62.019915,36.2901257 54.9577664,36.3455618 L13.7347883,36.6691515 L13.7347883,36.6691515 C6.57739846,36.7253351 0.729641724,30.9686701 0.673458068,23.8112803 C0.67187524,23.6096394 0.674998677,23.4079892 0.682825827,23.2064941 L1.07126212,13.2069434 L1.07126212,13.2069434 C1.34149537,6.25030411 7.05960917,0.75 14.0214951,0.75 Z" id="Rectangle-7" stroke="#E76024" stroke-width="2.5"></path>
				            <text id="FREE!" font-family="HouseSlant-Regular, House Slant" font-size="25.92" font-style="italic" font-weight="normal" fill="#E76024">
				                <tspan x="9.71428571" y="26.3684211">FREE!</tspan>
				            </text>
				        </g>
				    </g>
				</svg>
			</div>
			<div>
				<h1>Hand-curated agency projects, now hiring!</h1>
				<p>Everyday I send a tiny group of design and development firms the best active projects on the web. It saves them hours and they get to fill their schedule with opportunities outside of their network. Try it now for free.</p>
				<a href="#" class="button small">Get sample</a>
			</div>
		</div>
				<div class="project-type">
					<input type="checkbox">
				 	UI/UX design projects
				</div>

				<div class="project-type">
					<input type="checkbox">
				 	Graphic design projects
				</div>		

				<div class="project-type">
					<input type="checkbox">
				 	Marketing design projects
				</div>

				<div class="project-type">
					<input type="checkbox">
					Ruby on Rails projects
				</div>

				<div class="project-type">
					<input type="checkbox">
				 	Javascript projects
				</div>		

				<div class="project-type">
					<input type="checkbox">
				 	Mobile development projects
				</div>

				<div class="project-type">
					<input type="checkbox">
					Full-stack development projects
				</div>

				<div class="project-type">
					<input type="checkbox">
				 	PHP/Wordpress projects
				</div>		

				<div class="project-type">
					<input type="checkbox">
				 	Python projects
				</div>

				<div class="email-optin">
					<div>
						<label for="fields[email]">First name</label>
						<input type="email" name="fields[email]" value="" />
					</div>

					<div>
						<label for="fields[email]">Email Address</label>
						<input type="email" name="fields[email]" value="" />
					</div>

					<div>
						<input type="submit" name="submit" value="Sign Up" data-drip-attribute="sign-up-button" />
					</div>
				</div>
	</div>
</form>