<div markdown="1" style="margin:1em auto; max-width: 600px; padding: 1em 0; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc;">

## Is your business ready for the Holidays? Or will you spend Christmas worried about not having enough clients?

That's something I'd love to help you with. But the clock is ticking. I hate the thought of freelancers spending Christmas with one eye on their phone hoping a client will appear. The truth is, NOW is the time to line up new work before most businesses go away on Holiday. 

So although you might be overloaded with managing clients, paperwork, and taxes - there's still about 60 days left to line up work before 2018. How will you spend it? Here's what I recommend.

Instead of doing what most freelancers do, which is wait for work to come to you, join the minority and email a new prospect everyday. Freelancers who do this make 50% more revenue than the average freelancer!

But how can you find enough prospects when your time is already taken up? That's where Workshop comes in. We monitor hundreds of job boards and other websites for freelance opportunities relevant to you. Then we find contact info for each one, and send you just the best stuff every day. 

100% high-value work, curated by hand every day. So all you have to do is send off a few emails over your morning coffee.
</div>