<div markdown="1" style="margin:3em 0;">
	
<img src="/images/workshop-logo.png" style="max-width: 100px; margin: 0 auto; display: block;">

<h1>Workshop</h1> 
<h2>Projects for people who make websites.</h2>


---

	
# Don't spend Christmas stressed about clients. Go on holiday knowing you have 2018 in the bank...


When you wake up on Christmas morning to the smell of chestnuts roasting, will you feel relaxed and ready to enjoy the day with your family? 

Or will you feel the need to check your inbox, hoping a new client will appear and pay your Christmas bills?

If you're already feeling that unease, don't worry. I can help.

## There's about 60 days left until companies go away for Christmas holiday. That doesn't seem like much time but...

Let's face it, that's because you're overloaded with running your business. 

In fact, you're likely too busy to line up any new work at all between now and then. There's so much work to do, like managing clients, paperwork, taxes, employees, and oh yea, the actual work.

But not keeping up with sales is a recipe for disaster.

I don't need to tell you how much dry spells suck. They're extremely stressful. It feels like every prospect you talk to is the end all be all. They makes you seem desperate, and clients - or worse, your family - can smell it.

It's a horrible feeling. But there's relief.

## There's a way you can email highly-qualified prospects everyday in the time it takes you to sip your morning coffee 

Why this approach? I've found it's the best way to make you stop putting all your eggs in your current client's baskets.

In fact, a few years ago, I conducted a survey of over 500+ freelancers that asked:
	
- What do you do when you run out of work?
- How much do you make?

40% said they use social media when in a dry spell, while 24% said they sit and wait, and only 12% emailed prospects. 

This seemed reasonable until I correlated each of these to their income and found that the group that emailed prospects made way more than the others!

Almost 50% more!

Still almost no one does it. Close to 90% overlook sending emails to potential clients. Are you?

If you are, it means power to change your fortune. I know because I ran that exact experiment. I cold emailed one new client every day for weeks and soon my income tripled.

It was liberating.

## And you can finally spend your holidays without being in the feast or famine cycle too, if...

You stop telling yourself it's okay to let up on new sales because you'll “pick things back up once everything calms down”. 

The truth is, by then it'll be too late.

Instead of solely relying on your current batch of clients - keep up the sales activity in your business. 

But how, you ask?

It's simple. 

## Presenting a hands-free way to get the emails of high-paying clients looking to hire someone like you right now.

So here's the deal. 

I monitor hundreds of project sources for you. (Here's <a href="https://gumroad.com/l/PgSbF">my 5 favorite</a>.)

I check each one for quality and editorialize the best stuff into one easy-to-read email.

The result is you get an email with high-valuem hyper-relevant potential clients delivered to your inbox that you can review and reply to over your morning coffee. 

Algorithm? I am the algorithm. I literally hand curate your daily list of leads every business day.

Why me? 

Because I was a freelance front-end designers and developer myself. After trying to hire a VA to do this process for me I found that only someone like me could identify the subtleties that make a client project great.

## Here's some of the project sources I use to find high-quality contacts for you:

<img src="/images/leads-sources.png" style="max-width: 100%; margin: 0 auto; display: block;">

It all comes to you in one daily email that you can reply to in minutes. 

If you did this level of lead generation yourself, you'd have to hire someone for $700+ a month, minimum.Plus it would suck. 

You would have to manage the process, teach a VA how to find contact names, emails, photos + replicate my deep contemplating / beard-rubbing stamp of approval. You couldn't do it even if you hired the cheapest VA on the planet. 

## Workshop vs. Hiring a VA to find the exact same leads for you.


<img src="/images/price-comparison.png" style="max-width: 100%; margin: 0 auto; display: block;">

## So, if you're interested, don't wait. Workshop isn't right for everyone and I only let in people that I am 100% confident I can help.

That's why I limit the number of customers I take on to just 60. I want to keep the lead-to-customer ratio extremely high. 

Since starting this service it's resulted in over $1 million dollars of paid client work so I want to keep that value going.

The only way to do that is to be meticulous about who I let in. That's why I ask new members to apply, deny people who aren't a good fit, and close registrations when we're full.

If you're interested (and I have room) use one of the links below to send me your application.

Applying takes a minute or two and costs $199 (refund if denied). 

That also goes to your first month's payment and after that it's only $199 per month. There's no contract and you can cancel any time.

{% include apply-table.html %}

<p style="font-size: 80%;">
Note: If your specialty is currently sold out, make sure to join the waiting list. That's where I go first when a spot opens up.</p>

<p style="font-size: 80%; margin-bottom: 3em;">
Also, if you don't see your specialty at all - no worries. I'm working on a course that will help you setup a hands free system like this for any type of work. <a href="/find/">Go here for more info</a>.
</p>

PS. Want to see a few reviews of the service? Here's my "amazon reviews" section:
{% for service_testimonial in site.data.service_testimonials %}
<div style="margin: 2em 0 2em; padding: 0;">
	<p style="margin: 0 0 .25em;">{{ service_testimonial.quote }}</p>
	<span class="testimonial-by-line" style="font-size: 90%; font-weight: 400; color: #666;">
		<img style="max-width:50px; border-radius: 50px; vertical-align: -20px;  margin-right: .5em;" class="small-photo" src="{{ service_testimonial.image }}">  
		{{ service_testimonial.name }}, {{ service_testimonial.job_title }} in {{ service_testimonial.location }}</span>	
</div>
{% endfor %}

# Apply today, get leads by next week!

If you’re serious about taking control of your freelance business, apply today. Once a lead is sent, you don’t get another chance at seeing it - so don’t miss out.

{% include apply-table.html %}

</div>

<hr>

<small>
# Terms of Service
Here’s how it works. You alone are responsible for your actions and the results of your consulting business, which depend on personal factors such as your skill, abilities, knowledge, connections, and financial situation, just to name a few.

I offer no warranties or guarantees regarding results. When addressing financial matters, I’ve taken every effort to ensure I accurately represent the service and it’s ability to enhance your freelancing business. 

However, by purchasing this service, you accept and agree that you are fully responsible for your progress and results (and those results will obviously vary). 

Any statements outlined are my opinion and thus are not guarantees or promises of actual performance. And if you have a question, ask it.

## 100% Money-back Guarantee Refund Policy

I offer a 100% money-back guarantee. If you're not happy for any reason I want to hear about it and fix it by giving you your money back. 

However, I do not accept refunds until after your full 6 months have expired. Yes, this is the opposite of most 90-day refund windows. Instead I *want* you to get the full experience before you ask for your money back.

It really takes time to build a pipeline so please, sign up, take the full 6 months to try the leads then let me know if you don't think it's worth it. 

I'm so sure that it is that I'm willing to put my money where my mouth is. I offer you 100% protection. 

## Site Terms of Use Modifications

I may revise these terms of use at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
</div>