<div markdown="1">

<div class="limited-spots-sticker" style="color: white; background-color: #282718; display: inline-block; width: 8em; height: 8em; border-radius: 8em; font-size: 60%; text-align:center; padding: 2.7em .5em; box-sizing: border-box; float: right; margin-bottom: -25em; margin-top: 15em; margin-right: 7em; 	-ms-transform: rotate(4deg); /* IE 9 */ -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */ transform: rotate(4deg);">Limited Spots Available!</div>

<img src="/images/workshop-preview-sd.png" style="max-width: 100%; margin: .25em 0 -1em; ">

# Fill the gaps in your consultancy's pipeline in a few minutes a week

Everything changed when I become self-employed... except my desire to control more of my future. That's why I created this leads service to help you do just that. 

If you want complete clarity about where your next project will come from, keep reading. I'm going to show you how to create a pipeline that works in no extra time.

## Too busy to line up new work?

You've got a business to run. That means clients, paperwork, taxes, employees, and oh yea, the actual work to do. 

But not keeping up with sales is a recipe for disaster.

I don't need to tell you how much dry spells suck. They're extremely stressful. It feels like every prospect you talk to is the end all be all. They makes you seem desperate, and clients can smell it. 

Yet they seem like they're never going to end. It can take weeks before you find your next client. It's a horrible feeling. But I've found a way to end it forever.

## Are you putting all of your eggs in one client's basket?

I recently conducted a survey of over 500+ consultancy owners and asked:
	
- What do you do when you run out of work?
- How much do you make?

The answers were surprising... but not for the reasons you’re thinking.

About 40%  said they use social media when in a dry spell, while 24% said they sit and wait, and only 12% emailed prospects. This seemed reasonable until I correlated each of these to their income and found one group made way more than the others.

**The people who emailed prospects made .5x more money than those who did nothing.**

It seems obvious and yet almost everyone (close to 90%) overlooked it. 

For me, it meant the power to change my freelancing fortune. So I had to experiment. I cold emailed one new client every day for weeks and soon my income tripled.

## Consulting doesn't have to be feast or famine.

Let's face it you're probably busy with client work. 

You tell yourself it's okay to let up on new sales because you'll “pick things back up once everything calms down”. But the truth is, by then it'll be too late.

Instead of relying on your current batch of clients, keep a small daily amount of sales activity active in your business. 

But how, you ask?

## Presenting a hands-free way to get high-value project leads daily

It's simple. I monitor hundreds of websites that post opportunities (mostly full-time jobs) and filter out anything that's not relevant to you, a busy consultancy owner.

The result is 1-2 extremely high-value hyper-relevant potential clients delivered to your inbox every day. 

Algorithm? I am the algorithm. I literally hand curate your daily list of leads every single weekday (excluding holidays).


<div class="product-list leads">
	<div class="product-item">
		<h3>
			Want to see what's sent? <a href="http://app.letsworkshop.com/leads">Preview a few recent leads I've sent</a>
		</h3>
	</div>
</div>

## If I decide I can help you, here's what you will get:

1. **300+ websites monitored for you by hand every morning.**<br>
If you did this level of lead generation yourself, you'd be losing well over $2,000+ in billable hours each month. Plus it would suck. Instead you get only the qualified opportunities from hundreds of websites.

2. <img class="emoji" title=":boom:" alt=":boom:" src="https://assets.github.com/images/icons/emoji/unicode/1f4a5.png" height="20" width="20" align="absmiddle"> **Bonus: I buy RFPs and share them with you.**<br>
On top of job boards monitoring I buy dozens of RFPs every month and send you the ones that are realistic and easy to read. Over $100/month worth of RFPs, easy.

3. <img class="emoji" title=":boom:" alt=":boom:" src="https://assets.github.com/images/icons/emoji/unicode/1f4a5.png" height="20" width="20" align="absmiddle"> **Bonus #2: I find you contact info too**<br>
Most of my leads come with a contact name, email, photo + my deep contemplating / beard-rubbing stamp of approval. A key time saver worth $100/month even if you hired the cheapest VA on the planet. 

4. <img class="emoji" title=":boom:" alt=":boom:" src="https://assets.github.com/images/icons/emoji/unicode/1f4a5.png" height="20" width="20" align="absmiddle"> **Bonus #3: I make referrals happen**<br>
This is the newest thing that I’ve added to my system. (I’ll be writing about this more soon.) I now do outreach for every lead I find, myself. I email each lead and get additional information about the project, and refer it to someone in Workshop. Simple — but amazing results.

## Here's how to apply: 

I limit the number of customers I have to just 60 because I want to keep the lead-to-customer ratio extremely high. Since starting this service it's resulted in over $1 million dollars of paid client work so I want to keep that value going.

The only way to do that is to be meticulous about who I let in. That's why I ask new members to apply, deny people who aren't a good fit, and close registrations when we're full.

If you're interested (and I have room) use one of the link below to send me your application.

Applying takes a minute or two and costs $199 (refundable if denied). 

That also goes to your first month's payment and after that it's only $199 per month. There's no contract and you can cancel any time.

# Currently accepting applications!

If you’re serious about taking control of your freelance business, apply today. Once a lead is sent, you don’t get another chance at seeing it - so don’t miss out.

{% include apply-table.html %}

<p style="font-size: 80%;">
Note: If your specialty is currently sold out, make sure to join the waiting list. That's where I go first when a spot opens up.</p>

<p style="font-size: 80%; margin-bottom: 3em;">
Also, if you don't see your specialty at all - no worries. I'm working on a course that will help you setup a hands free system like this for any type of work. <a href="/find/">Go here for more info</a>.
</p>

PS. Want to see a few reviews of the service? Here's my "amazon reviews" section:
{% for service_testimonial in site.data.service_testimonials %}
<div style="margin: 2em 0 2em; padding: 0;">
	<p style="margin: 0 0 .25em;">{{ service_testimonial.quote }}</p>
	<span class="testimonial-by-line" style="font-size: 90%; font-weight: 400; color: #666;">
		<img style="max-width:50px; border-radius: 50px; vertical-align: -20px;  margin-right: .5em;" class="small-photo" src="{{ service_testimonial.image }}">  
		{{ service_testimonial.name }}, {{ service_testimonial.job_title }} in {{ service_testimonial.location }}</span>	
</div>
{% endfor %}

</div>