<style>
.monitoring-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: .5em;
	width:100%;
	max-width: 800px;
	margin: 0 auto .5em;
	padding: 0em 2em 0;
}

.monitoring-list .header {
	grid-column: span 4;
	height: auto;
	padding: 0 0 1em;
}

.monitoring-list .source {
	background-color: #FFF;
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-gap: 1em;
	padding: 1em;
	font-size: 70%;
	border-radius: 1em;
	border: 3px solid #ebe8e0;
}
.monitoring-list .source h2 {
	margin: .5em 0 .125em;
	font-size: 120%;
}

.monitoring-list .source img {
	vertical-align: -.25em; 
	max-width: 40px;
}

.monitoring-list .source p {
	margin: 0;
}

.email-preview {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: .5em;
	width:100%;
	max-width: 800px;
	margin: 0 auto;
}

.email-preview .screenshot {
	border-radius: .5em;
	border: 3px solid #ebe8e0;
	padding: 0;
}

.email-preview .screenshot img {
	width:100%;
	margin: 0;
}

</style>



<div class="monitoring-list">
	<div class="header">
	<h2>For the next 6 months you can have every job board & website monitored for you, while you spend your time on something better, like with your family.</h2>
	</div>
	<div class="source">
		<div>
			<img src="./images/angellist.png">
		</div>
		<div>
			<h2>AngelList</h2>
		</div>
	</div>
	
	<div class="source">
		<div>
			<img src="./images/hn.png">
		</div>
		<div>
			<h2>Hacker News</h2>
		</div>
	</div>
	
	<div class="source">
		<div>
			<img src="./images/wwr.png">
		</div>
		<div>
			<h2>WeWorkRemotely</h2>
		</div>
	</div>

	<div class="source">
		<div>
			<img src="./images/google-logo.png">
		</div>
		<div>
			<h2>Google</h2>
		</div>
	</div>
	
	<div class="source">
		<div>
			<img src="./images/rfpdb-logo.png">
		</div>
		<div>
			<h2>RFPDB</h2>
		</div>
	</div>
	
	<div class="source">
		<div>
			<img src="./images/behance.png">
		</div>
		<div>
			<h2>Behance</h2>
		</div>
	</div>

	<div class="source">
		<div>
			<img src="./images/fb.png">
		</div>
		<div>
			<h2>Facebook</h2>
		</div>
	</div>
	
	<div class="source">
		<div>
			<img src="./images/more.png">
		</div>
		<div>
			<h2>Hundreds more</h2>
		</div>
	</div>
</div>

<div class="email-preview">
	<p style="grid-column: span 3; margin: 1em 0 .5em;">A few recent emails we've sent...</p>
	
	<div class="screenshot">
		<a href="./images/email-preview.png"><img src="./images/email-preview.png"></a>
	</div>
	
	<div class="screenshot">
		<a href="./images/email-preview2.png"><img src="./images/email-preview2.png"></a>
	</div>
	
	<div class="screenshot">
		<a href="./images/email-preview3.png"><img src="./images/email-preview3.png"></a>
	</div>
</div>
