<div class="workshop-top-nav-menu">
	<div class="logo-home-button">
		<a href="/"><img src="/images/workshop-logo.svg" alt="Workshop"></a>
	</div>
	<div class="main-menu-links">
		<a href="/membership">Service</a>
		<a href="/products">Products</a>
		<a href="/contact">Contact</a>
	</div>
	<div class="action-links">
		<a href="https://robertwilliams.typeform.com/to/XVOd5o" class="button small"><img src="/images/workshop-apply-icon.svg" alt="Application icon"> Apply</a>
		<a href="https://app.letsworkshop.com/users/sign_in" class="button small grey">Sign in</a>
	</div>
</div>