/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
		letter-spacing: -.04em;
		text-rendering: optimizeLegibility;


}

p, li {
	@include media-query($on-palm) {
		font-size: 80%;
		line-height: 1.35;
	}
}

strong {
	font-weight: 400;
	letter-spacing: 0;
}

em {
	font-style: normal;
	font-weight: 400;
}


@font-face {
	font-family: Cortado-Web;
	src: url('/fonts/CortadoScript.eot');
	src: url('/fonts/CortadoScript.eot?#iefix') format('embedded-opentype'),
	url('/fonts/CortadoScript.woff') format('woff');
	}


.logo {
	
	display: inline-block;

a {
	font-family: Cortado-Web;
	font-weight: 400;
	-webkit-font-feature-settings: "liga" 1, "calt" 1, "frac" 1;
	-moz-font-feature-settings: "liga=1", "calt=1", "frac=1";
	-moz-font-feature-settings: "liga" 1, "calt" 1, "frac" 1;
	-ms-font-feature-settings: "liga" 1, "calt" 1, "frac" 1;
	-o-font-feature-settings: "liga" 1, "calt" 1, "frac" 1;
	font-feature-settings: "liga" 1, "calt" 1, "frac" 1;
	font-size: 2em;
	color: $red-color;	
	box-sizing: border-box;
	max-width: 90%;
	&:hover {
		color: lighten($red-color, 15%);
	}
 }
}


hr {
	border: 0;
	height: 1px;
	outline: 0;
	background-color: #DDD;
	
}

/**
 * Headings
 */
h1, h2, h3, h4, h5 {
	color: $header-color;
  font-weight: $headline-font-weight;
	margin: $headline-margin;
	font-style: normal;
	letter-spacing: $headline-letter-spacing;
	
	em {
		font-weight: 500;
		font-style: normal;
	}
}

h1 {
	font-size: $headline-font-size;
	line-height: $headline-line-height;
	
	@include media-query($on-palm) {
		font-size: 125%;
	}
}

h2, h3 {
	font-size: $sub-headline-font-size;
	line-height: $sub-headline-line-height;
	font-weight: $sub-headline-font-weight;
	font-family: $sub-headline-font-family;
	
	@include media-query($on-palm) {
		font-size: 90%;
	}
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

ul {
  line-height: 1.5em;
  margin: 1em;
  list-style: none;
  padding: 0;
	li {
	    padding-left: 1em;
	    text-indent: -1em;
	}
	li:before {
	    content: "•";
	    color: #e66125;
	    padding-right: .5em;
	}
	&.favorites {
		  line-height: 2em;
	    margin: 1em 0 2em;
	    list-style: none;
	    padding: 0;
			li {
			    padding-left: 1em;
			    text-indent: -1em;
			}
			li:before {
					font-size: 14px;
			    content: "★";
			    color: #edbc40;
			    padding-right: 1.5em;
			vertical-align: .25em;
			}
	}
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */

	h1, h2, h3 {
		margin: 0 auto .5em;
	}
}

ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 10px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 5px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    background: #FFF;
		@include media-query($on-palm) {
		margin:0 0 10px 1em;
		}
}

ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:.6em;
    left:-3em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:1.75em;
		height: 1.75em;
		border-radius: 100%;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right: 1.5em;
		margin-left: .5em;
    padding:3px 0 0;
    background: lighten($grey-color-light, 9%) ;
    font-weight: 500;
		font-size: 12px;
    text-align:center;
		color: $text-color;
		@include media-query($on-palm) {
			margin-right: .75em;
			margin-left: .5em;
			top: .25em;
			left: -2em;
			font-size: 8px;
		}
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
    }

    &:hover {
        color: $hover-color;
    }
		
	&.buy-link {
		color: #FFF;
		font-weight: 600;
		background-color: $brand-color;
		display: block;
		padding: .4em .8em;
		border-radius: .5em;
		font-size: 15px;
		min-width: 5em;
		&:hover {
			text-decoration: none;
			background-color: $hover-color;
		}
		
		@include media-query($on-palm) {
			font-size: 90%;
		}
	}
	&.regular {
		background-color: $grey-color;
	}

}


input[type="text"], input[type="password"], input[type="name"],  input[type="email"], input[type="number"], select, textarea, input[type=file]  {
	font: 18px/1.552em $base-font-family;
 	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: $ui-border-radius;
  -moz-border-radius: $ui-border-radius;
  -o-border-radius: $ui-border-radius;
  border-radius: $ui-border-radius;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid $grey-color;
  display: block;
  font-size: 14px;
  padding: 6px 6px;
  width: 100%;
	outline: none;
	margin: 1em 0;

	&:hover, &:active, &:focus {
		border: 2px solid lighten($brand-color, 20%);
	}
	&:focus {
		border: 2px solid $brand-color;
	}

}

input[type=submit], a.submit {
	font-family: $base-font-family;
	cursor: pointer;
	border-radius: $ui-border-radius; 
	background-color: $brand-color;
	padding: 1em 1.5em .9em; 
	margin: 1 0; 
	font-weight: 600;
	letter-spacing: 0;
	text-decoration: none;
	font-size: 13px;
	border: none;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	color: #FFF;
	&:hover {
		background-color: $hover-color;
		text-shadow: 0px 0px 1px $brand-color;
	}
	&.buy {
		font-size: 150%;
	}
}

/**
 * Blockquotes
 */
blockquote {
    color: $text-color;
    border-top: 1px solid $grey-color-light;
    padding: 1em 0;
		font-size: 95%;

		h3 {
			margin: .5em 0;
		}

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
i.fa.fa-check {
	color: $red-color;
	font-size: 120%;
}
i.fa.fa-external-link {
	font-size: 80%;
}


.feature-icon {
	margin: .25em .5em 0 0;
	border-radius: .25em;
	max-width: 1.6em;
}

/** Table **/

table {

	
	&.pricing {
		
		h2 {
			font-weight: 500;
			font-size: 150%;
			margin: 1em 0 .5em;
		}
		
	
			@include media-query($on-laptop) {
				font-size: 75%;
			}
		
		tr:first-child td:first-child {
		    -moz-border-radius-top-left:$pricing-table-border-radius;
		    -webkit-border-top-left-radius:$pricing-table-border-radius;
		    border-top-left-radius:$pricing-table-border-radius;
		}
	
		tr:first-child td:last-child {
			    -moz-border-radius-top-right:$pricing-table-border-radius;
			    -webkit-border-top-right-radius:$pricing-table-border-radius;
			    border-top-right-radius:$pricing-table-border-radius;
			}

		tr:last-child td:first-child {
		    -moz-border-radius-bottom-left:$pricing-table-border-radius;
		    -webkit-border-bottom-left-radius:$pricing-table-border-radius;
		    border-bottom-left-radius:$pricing-table-border-radius;
		}

		tr:last-child td:last-child {
		    -moz-border-radius-bottom-right:$pricing-table-border-radius;
		    -webkit-border-bottom-right-radius:$pricing-table-border-radius;
		    border-bottom-right-radius:$pricing-table-border-radius;
		}
		tr:last-child {
			border: 0;
		}
		.button {
				@include media-query($on-laptop) {
				padding: .1em .5em .25em;
					}

		}

    -moz-border-radius: $pricing-table-border-radius-outside;
    -webkit-border-radius: $pricing-table-border-radius-outside;
		border-radius: $pricing-table-border-radius-outside;
		border: 5px solid $brand-color;
		margin: 2em 0;
		width: 100%;
		
		.bottom-right {
		border-radius-bottom-right: $ui-border-radius;}
		& th, td {
			border: 1px solid darken(#f7f8f9, 2%);

		}
		
		tbody tr:nth-child(odd) {
		}
		th, .check, .buy {
			
				text-align: center;
		}
		th {
			padding: 1em 0;
			h2 {
				@include media-query($on-laptop) {
				font-size: 70%;
				}
			}
			
			p {
				font-size: 80%;
			
					@include media-query($on-laptop) {
					font-size: 70%;
					}
			
			}
		}
		td {
			font-size: 80%;
			padding: 1em 1.5em;
			strong {
				color: darken($grey-color, 5%);
				font-weight: 600;
					font-size: 100%;
			}
			@include media-query($on-laptop) {
			padding: .25em;
			}
		}
		.money-sign {
			font-weight: 400;
			color: $black-color;
			vertical-align: .25em;
			@include media-query($on-laptop) {
			font-size: 70%;
			}
		}
		.per-month {
			color: $black-color;
				font-weight: 300;
				@include media-query($on-laptop) {
				font-size: 70%;
				}
			
		}
		.bonus {
			background-color: #f7f8f9;
			font-weight: 500;
			color: $grey-color-dark;
			border: 0;
			
			p, h2 {
				letter-spacing: normal;
				text-align:left;
			}
			p {
				font-weight: normal;
			}
		}
		.center {
		text-align: center;
		}
		.check {
			text-align: center;
			i {
				color: $red-color;
			}
		}
		.buy {
		}
		a.premium {
			background-color: #ff552c;
		}
	}
}
/*

table {
	display: table;
  	border-collapse: separate;
  	border-spacing: 2px;
  	border-color: grey;
	margin-bottom: 1.5em;
	border-collapse: collapse;
	width: 95%;
	border: 1px solid $grey-color-light;
	td, th {
		padding: 1em 0.6em;
		  text-align: center;
		  -moz-hyphens: none;
		  -webkit-hyphens: none;
		  -o-hyphens: none;
		  -ms-hyphens: none;
		  hyphens: none;
	}

	&.pricing {
		width: 100%;
		border-box: box-sizing;
		td {
			font-size: 80%;
			text-align: left;
			@include media-query($on-palm) {
				font-size: 65%;
			}
		}
		tr + tr {
		  border-top: 1px solid $grey-color-light;
		}
		td + td {
		  border-left: 1px solid $grey-color-light;
		}
		td.check {
			text-align: center;
		}
		td.bonus {
			background-color: $grey-color-light;
			padding: 1em;
			text-align: left;
			font-weight: 700;
			color: lighten($grey-color, 3%);

		}
	}
	&.border-row-only {
		border: none;
		th {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 80%;	
		}
		tr + tr {
			border-top: 1px solid $grey-color-light;
		}
	}
	
	&.border-cell-only {
		border: none;
		th {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 80%;	
		}
		td + td {
			border-left: 1px solid $grey-color-light;
			padding: 0 1em;
		}
	}
	
}*/