/** Homepage **/

.feature {
	background-color: $grey-color-light;
	margin: 4em 0 6em;
	padding: 2em 2em 2em;
	
	p {
		font-family: $base-font-family;
	}

}
.feature.kurt {
		background-image: url('/images/features/kurt.png');
		background-position: 90% bottom;
		background-repeat: no-repeat;
		background-size: 12em;
}

.feature.rob {
		background-image: url('/images/rob-headshot.png');
		background-position: 90% bottom;
		background-repeat: no-repeat;
		background-size: 13em;
}

.testimonial-photo {
	max-width: 4em;
	max-height: 4em;
	border-radius: 4em;
	display: block;
}

/** Table of Contents **/
h3 {
	
			&.topic-section {
				margin: 4em auto 0;
				font-size: 150%;
				a {
					margin-left: -.5em;
					padding: 0 .5em;
					font-family: $base-font-family;
					color: $grey-color-dark;
					span { 
						margin-left: .25em;
						vertical-align: .1em;
						font-size: 19px;
						font-family: $base-font-family;
						}
					&:hover {
						background-color: #F1F1F1;
						border-radius: 2em;
					}
				}
			}
}
ul, ol {
	&.topic-list {
	  -moz-column-count: 2;
	  -webkit-column-count: 2;
	  -o-column-count: 2;
	  -ms-column-count: 2;
	  column-count: 2;
		margin: 1em auto 6em;
		-moz-column-gap: 2em;
	  -webkit-column-gap: 2em;
	  -o-column-gap: 2em;
	  -ms-column-gap: 2em;
	  column-gap: 2em;
		li {
			display: inline-block;
			width: 100%;
			margin: 1em auto 1em;
	
		}
	}
	a.topic-chapter {
		font: 17px/1.4 $base-font-family;
		display: inline-block;
		overflow: hidden;
	}
}


/**
 * Site header
 */
.site-header {	
		border-bottom: 1px solid $grey-color-light;
    min-height: 40px;
		padding: 2.5em 0em 0;
		font-weight: 400;

		nav {
				min-width: 400px;
				width: 50%;
				display: inline;
				padding: 2em 0 0;
				font-weight: 500;
				font-size: 14px;

				a {
					margin-right: 1.8em;
					strong {
					font-weight: 500;
					}
				}

		    @include media-query($on-palm) {
					font-size: 60%;
					text-align: center;
					margin: 1em auto;
					width: 100%;
				}
	}
    // Positioning context for the mobile navigation icon
    position: relative;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
}

.post-note {
	padding: 1em 2em;
	font-family: $base-font-family;
	border: 1px dashed $grey-color;
	margin: 2em 0;
	color: $grey-color;
	p, h1, h2, h3, h4 {
		margin: 0 auto;
	}
	input[type=submit] {
		color: #FFF;
		font-weight: 600;
		background-color: $brand-color;
		display: block;
		margin: auto auto 1em 0;
		padding: .4em 1em .5em;
		border-radius: .5em;
		font-size: 15px;
		min-width: 5em;
		font-family: $base-font-family;
		&:hover {
			text-decoration: none;
			background-color: #3eb2e7;
		}
	}
}

.post-post-it-note {
	padding: 1em 2em;
	font-family: $base-font-family;
	margin: 2em 0;
	color: $grey-color-dark;
	background-color: lighten(#fff7ac, 13%);
	p, h1, h2, h3, h4 {
		margin: 0 auto;
	}
}

.course {
	border: 3px solid lighten($grey-color, 35%);
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    line-height: 1.5;

    @include media-query($on-palm) {
        font-size: 150%;
    }
}

.book-description {
	color: $grey-color;
	margin-bottom: 5em;
}

.post-content {
    margin-bottom: $spacing-unit;


}
