.wrap {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

footer { 
a { 
	text-decoration: none;
	color: $grey;  
  &:hover img { 
    transform: scale(2);
  }
}
a img {
	margin: 0 .25em;
  transition: transform .2s ease-in-out;
}

}

.home-content-upgrade {
	text-align:center;
	padding: 5em 15%;
	
	h1 {
		margin: .75em 0 0;
	}
	img.master-photos {
		width:3em; border-radius: 3em; margin: 0;
	}
}

.homepage.wrap {
	max-width: 1200px;
	padding: 0 1em;
	box-sizing: border-box;
}

.homepage {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 3rem;
}

.homepage img.preview {
	max-width: 100%;
	margin: .5em 0 -1em;
}

.homepage div {
	margin: 1em 0;
}


@media only screen and (max-width: 800px) { 
	.homepage {
		grid-template-columns: $homepage-mobile-grid-template-columns;
	}
}
