.rfp-elements-grid {
	display: grid;
	max-width: 1000px;
	margin: 2em auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1rem;
	padding: 0 0 .5em;
	border-radius: 5px;
}

.rfp-elements-grid .header {
	grid-column: 1 / 9;
	grid-row: 1;
	padding: 0 2em .5em;
	border-bottom: 1px solid #eee;
	margin: 0 0 .5em;
}

.rfp-elements-grid .header h3 {
	margin: .5em 0 -.75em;
	
}

.rfp-elements-grid .element {
	font-size: 70%;
	grid-column: span 2;
	padding: .5em 1em 1.25em;
	border-radius: 5px;

} 
.rfp-elements-grid .element h3 {
	margin: .25em 0 .5em;
	border-bottom: 1px solid #eee;
	padding: 0 0 .5em;
}

.rfp-elements-grid .element img.emoji {
	vertical-align: -2px;
	margin-right: .1em;
}

.rfp-elements-grid .cta {
	grid-column: 1 / 9;
	text-align:center;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-size: 120%;
	padding: .5em 0;
}