.rfp-elements-grid {
	display: grid;
	max-width: 1000px;
	margin: 2em auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1rem;
	padding: 0 0 .5em;
	border-radius: 5px;
}

.rfp-elements-grid .header {
	grid-column: 1 / 9;
	grid-row: 1;
	padding: 0 2em .5em;
	border-bottom: 1px solid #eee;
	margin: 0 0 .5em;
}

.rfp-elements-grid .header h3 {
	margin: .5em 0 -.75em;
	
}

.rfp-elements-grid .element {
	font-size: 70%;
	grid-column: span 2;
	padding: .5em 1em 1.25em;
	border-radius: 5px;
	background-color: #f7f7f5;

} 
.rfp-elements-grid .element h3 {
	margin: .25em 0 .5em;
	border-bottom: 1px solid #eee;
	padding: 0 0 .5em;
}

.rfp-elements-grid .element img.emoji {
	vertical-align: -2px;
	margin-right: .1em;
}

.rfp-elements-grid .cta {
	margin-top: .25em;
	grid-column: 1 / 9;
	text-align:center;
	border-top: 1px solid #eee;
	font-size: 120%;
	padding: 0;
}

.rfp-elements-grid .cta img.emoji {
	margin: 0 .25em;
	width: 30px;
	height: 30px;
}

.rfp-proposal-apps {
	display: grid;
	max-width: 1000px;
	margin: 2em auto;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	padding: 0 0 .5em;
	border-radius: 5px;
}

.rfp-proposal-apps .recommendation {
	padding: 2em 2em;
	font-size: 90%;
	text-align:center;
	border-radius: 5px;
}

.rfp-proposal-apps .recommendation p {
	margin: .25em 0 1em;
}

.rfp-proposal-apps .recommendation a {
	text-decoration: none;
	font-weight: 700;
}

.rfp-proposal-apps .bidsketch {
	grid-column: 1;
	grid-row: span 2;
	box-shadow: 0 0 10px #f7f7f5;
	border: 2px solid #eee;
}

.rfp-proposal-apps .cushion {
	grid-column: 2;
	grid-row: span 1;
}

.rfp-proposal-apps .remarq {
	grid-column: 2;
	grid-row: span 1;
}

.rfp-proposal-apps .recommendation svg {
	fill: #5ecd62;
	vertical-align: -.25em;
	margin-right: .5em;
}