
.testimonial-by-line { 
	color: #888; 
	font-size: 80%; 
	margin-bottom: 2em;
}

.testimonial-by-line img.small-photo {
	width: 32px; 
	border-radius: 32px; 
	vertical-align: -8px; 
	margin-right: 8px;
}