.table-of-contents-wrap {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

.table-of-contents-wrap h1 {
	margin: 3em 0 1em;
	font-size: 90%;
	width: 100%;
	display: block;
	border-bottom: 1px solid #eee;
	padding: 1em .5em;
}

h1 + .toc {
	margin: 0;
}

.toc {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
}

.toc .chapter {
	padding: 0 .5em;
	margin: .25em 0;
	
}