
/* Font families */
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* Global colors */
$blue: #3026aa;
$dark-grey: #434346;
$grey: #666;
$off-white: #f7f7f5;

/* Font sizes */
$mobile-font-size: 13px;

/* Text colors */
$grey-text: $dark-grey;
$link-color: $blue;
$body-color: $dark-grey;

/* Grids */
$homepage-mobile-grid-template-columns: 1fr 1fr;

body {
	font-family: $body-font;
	font-size: 17px;
	line-height: 1.5;
	color: $body-color;
}

h1, h2, h3 {
	margin: 2em 0 -.25em;
	font-weight: 400;
	font-size: 110%;
	color: #222;
}

@media only screen and (max-width: 800px) { 
	body {
		font-size: $mobile-font-size;
	}
}
.explainer {
	padding: 1em 0 0;
	text-align:center;
	color: $grey-text;
}

footer {
	padding: 3em 0;
	color: $grey-text;
	text-align:center;
}

a {
	color: $blue;
}