---
layout: default
---

<div class="post">



  <article class="story">
		<h1 style="margin-top: 2em;">{{ page.title }}</h1>
    {{ content }}
  </article>


	<div style="text-align: center; max-width: 40em; margin: 4em auto;">
	<h1 style="color: #000;">Stop hating clients.</h1>

	<p>Does it feel like clients expect near-instant gratification at all times? That type of client relationship kills your productivity and work-life balance... leaving you feeling burnt out.</p> 


	<div>
	<h3>You can maximize output AND work far less with my free course:</h3>
	{% include course-form.html %}
	</div>
	</div>



</div>
